# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Poetry / Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# YOLOv8 / Ultralytics
runs/


# Dataset (imagens são grandes — não subir no GitHub)
dataset_passaros/train/images/
dataset_passaros/valid/images/
dataset_passaros/test/images/
*.zip

# Resultados de predição
resultados_predicao/

# Sistema
.DS_Store
Thumbs.db
*.log

# VS Code
.vscode/
